
rook>=0.1.131
flask>=1.0,<=2.0
sentry-sdk[flask]>=0.6.9

protobuf>=3.13.0
opentelemetry-exporter-otlp==0.16b1
opentelemetry-opentracing-shim==0.16b1

opentelemetry-instrumentation==0.16b1
opentelemetry-instrumentation-flask>=0.8b0
opentelemetry-instrumentation-grpc>=0.8b0
opentelemetry-instrumentation-jinja2>=0.8b0
opentelemetry-instrumentation-sqlite3>=0.11b0
opentelemetry-api==0.16b1
opentelemetry-sdk==0.16b1
